*{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    /* background-color: rgb(255, 255, 255); */
    background-position: center;
    background-size: cover;
    height: 300px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor:pointer;
    margin-top: 0px;
    background-color: rgb(210, 210, 210);
    
}
.nnn{
        width: 1200px;
        height: auto;
        margin-top: 4%;
        color: rgb(3, 3, 3);
        position: absolute;
        margin-left: 50px;
        text-decoration: none;
        margin-right: 10px;
        color: rgb(13, 14, 9);
        font-family: Arial;
        font-weight: bold;
}
.main .navbar{
    width: 1200px;
    height:1200px;
}
main .icon{
   width: 200px;
   float: left;
   height: 70px;
}
.main .logo{
    color: rgb(255, 255, 255) !important;
    font-size: 40px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-right: 100px;
}
.main .menu{
    width: 400px;
    float: right;
    height: 70px;
   margin-right: 100px;
    display: flex;
    margin-top: 50;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
ul li{
    list-style: none;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    margin-right: 10px;
    color: rgb(13, 14, 9);
    font-family: Arial;
    font-weight: bold;
    transition: 0.6s ease-in-outs;
}
ul li a:hover{
    color: rgb(55, 212, 16);
    text-shadow: 1px 1px 2px rgb(96, 240, 30), 0 0 25px rgb(94, 219, 21) ;
}
.ss{
    background-color:rgb(199, 165, 12);
    width: 1349px;
    height: 90px;
}
.content-1{
    width: 70%;
    margin: 18px;
    margin-top: 150px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    cursor:pointer;
    padding-top: 10px;
    box-shadow: 0 3px 7px rgb(180, 172, 172) , 0 5px 5px rgb(145, 133, 133);
    transition: 0.4s ease;
    background: white;
    margin-left: 190px;
    margin-right: 50px;

}
.bottom{
    
    background-color: darkgray;
    width: 1349px;
    height: 100px;
    font-family:  sans-serif;
    font-size: 30px;
    align-items: center;
    align-content: center;
    margin-top: 100px;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   background-color:darkgoldenrod;
   width: 1349px;
   height: 400px;
   color: rgb(0, 0, 0);
   font-family:  sans-serif;
   font-size: 20px;
   align-content: center;
   

}
.bot-1{
        width: 1349px;
        height: 300px;
        background-color: black;
        display: flex;
        align-content: center;
        margin-right: 70px;

}
.img-1{
    display: flex;
    margin-left: 390px;
    align-content: center;
   align-items: center;
    align-content: center;

   margin-right: 10px;
}
